NUXT_PUBLIC_SITE_URL=https://www.peterkimzz.com
STUDIO_GITHUB_CLIENT_ID=
STUDIO_GITHUB_CLIENT_SECRET=
STUDIO_GITHUB_MODERATORS=peterkimzz69@gmail.com
STUDIO_GITHUB_REDIRECT_URL=https://www.peterkimzz.com/__nuxt_studio/auth/github
